/*
* 公共内容
*/
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(45deg, #FFCDD2, #B3E5FC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration:none;
}
.container {
    display: flex;
    position: relative;
    max-width: 1300px;
    margin: 10px auto;
}
.rank {
    height: 1px;
    background-color: #E0E0E0;
    margin: 5px 0;
}
.bubble {
     height: 60px;
     width: 60px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, .4);
     position: fixed;
     animation: bubble 9s infinite;
 }
.bubble2 {
    animation-duration: 7s;
    height: 50px;
    width: 50px;
    left: 20%;
}
.bubble3 {
    animation-duration: 5s;
    height: 30px;
    width: 30px;
    left: 30%;
}
@keyframes bubble {
    from {
        transform: translateX(0);
        bottom: -100px;
    }
    50% {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
        bottom: 100vh;
    }
}
.hidden{
    /*visibility: hidden;*/
    display: none!important;
}

/*
* 顶部功能按钮
*/
.top-circle-menu {
    position: fixed;
    height: 40px;
    width: 40px;
    max-height: 9vw;
    max-width: 9vw;
    border: 4px solid #ffffff;
    border-radius: 50%;
    padding: 6px;
    right: 20px;
    bottom: 20px;
    background-color: #ffffff;
    opacity: .7;
    background-clip: content-box;
    transition: transform 1s ease;
    cursor: pointer;
    transform: scale(1);
    z-index: 3;
}
.top-circle-menu:hover {
    transform: scale(1.1);
}
.top-circle-menu:active {
    transform: scale(.5);
}

/*
* 左侧信息栏
*/
.left-info-box {
    position: relative;
    width: 300px;
    animation: leftInfoBoxFadeIn 1.5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.left-info-item{
    border-radius: 8px;
    padding: 20px;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: 10px;
    user-select: none;
}
@keyframes leftInfoBoxFadeIn {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* 人物卡片 */
.author-card{
    text-align: center;
}
.card-img-box {
    position: relative;
}
.row-bar {
    height: 3px;
    width: 100%;
    background-color: #9E9E9E;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #9E9E9E;
    position: relative;
}
.card-title{
    margin-bottom: 10px;
}
.dialogue{
    display: block;
    opacity: .6;
    font-size: 13px;
    transition: opacity .5s ease;
}
.dialogue:hover{
    opacity: 1;
}
/* 人物工作线 */
.history-point{
    padding: 7px;
    position: relative;
}
.history-point:before{
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #BDBDBD;
    top: 1em;
    left: -8px;
}
.history-point:nth-child(-n + 2):after{
    content: '';
    height: 100%;
    width: 2px;
    position: absolute;
    top: 1em;
    left: -6px;
    transform: translateX(50%);
    background-color: #BDBDBD;
}
.history-point:hover > .history-company{
    opacity: 1;
}
.history-point:hover > .history-describe{
    opacity: .8;
}
.history-time{
    font-size: 12px;
}
.history-company{
    font-size: 13px;
    font-weight: bold;
    opacity: .7;
    transition: opacity 1s ease;
}
.history-describe{
    margin-top: 10px;
    opacity: .5;
    transition: opacity 1s ease;
}
/* 标签栏 */
.left-blog-labels{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.left-blog-label{
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    transition: background-color 1s ease, transform 1s ease;
    box-sizing: border-box;
    color: #000;
}
.left-blog-label:hover{
    background-color: rgba(0,0,0,.3);
}
.left-blog-label:active{
    transform: scale(.6);
}
.num-label{
    display: inline-block;
    margin-left: 10px;
    background-color: rgba(255,255,255,.9);
    padding: 3px;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
}

/*
* 右侧博客栏
*/
.right-blog-box{
    flex: 1;
    position: relative;
}
.right-blog-fade-in{
    animation: rightBlogBoxFadeIn 1.5s;
}
@keyframes rightBlogBoxFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* 加载动画 */
.ajax-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.loading-point{
    height: 12px;
    width: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    animation: ajaxLoading 5s infinite;
    opacity: 0;
}
@keyframes ajaxLoading {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    65% {
        transform: translateY(-100%);
        opacity: 1;
    }
    75% {
        transform: translateY(100%);
        opacity: 0;
    }
}
.loading-point:nth-of-type(2){ animation-delay: .3s; }
.loading-point:nth-of-type(3){ animation-delay: .6s; }
.loading-point:nth-of-type(4){ animation-delay: .9s; }
.loading-point:nth-of-type(5){ animation-delay: 1.2s; }
/* 博客页面 */
.blog-box{
    text-align: center;
}
.blog{
    text-align: left;
    background-color: #f1f1f1;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    margin: 0 20px 20px 20px;
    display: inline-grid;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    grid-template-columns: 240px auto;
    grid-template-rows: auto 20px;
    grid-template-areas:
            'BlogImgBox BlogInfo'
            'BlogImgBox BlogFooter';
}
.blog-img-box{
    position: relative;
    grid-area: BlogImgBox;
}
.right-blog-labels{
    position: absolute;
    display: flex;
}
.right-blog-label{
    background-color: #E57373;
    padding: 5px;
    border-radius: 3px;
    margin: -3px 5px;
}
.blog-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blog-info{
    grid-area: BlogInfo;
    padding: 0 10px;
    overflow-y: auto;
}
.blog-title{
    font-weight: bold;
    display: inline;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(0,0,0,.5);
}
.blog-abstract{
    margin: 15px 0;
    font-size: 15px;
    opacity: .4;
}
.blog-content{
    font-size: 18px;
    opacity: .6;
}
.blog-footer{
    grid-area: BlogFooter;
    display: flex;
    justify-content: flex-end;
}
.blog-author, .blog-create-time{
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
}
@media screen and (max-width: 1200px){
    .left-info-box{
        display: none;
    }
    .blog-info{
        padding: 10px 0;
    }
    .blog-abstract{
        margin: 15px 0 5px 0;
        font-size: 14px;
    }
    .blog-footer{
        margin-top: 10px;
    }
    .blog-content{
        font-size: 16px;
    }
    .blog{
        grid-template-columns: 240px;
        grid-template-rows: 160px 140px 30px;
        grid-template-areas:
                'BlogImgBox '
                'BlogInfo'
                'BlogFooter';
    }
}
